*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    height: 100vh;
    padding:10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding:25px 30px;
    border-radius: 5px;
    
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    margin-bottom:20px ;
}
.container .title::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}
.container form .user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-detail .input-box{
    margin-bottom: 15px;
     width:calc(100% / 2 - 20px)
}
.user-detail .input-box .detail{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
.user-detail .input-box input{
      height: 45px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-detail .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-detail .category{
    display: flex;
    width: 100%;
    margin: 40px 70px 30px 80px;
    justify-content: space-between;
}
.gender-detail .category label{
  display: flex;
  align-items: center;
} 
.gender-detail .category .dot{
    height: 19px;
    width: 19px;
    background:#d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9d59d6;

}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin:45px 0;
}
form .button input{
    height: 100%;
    width:100%;
    outline: none;
    color:#fff;
    border:none;
    font-size: 19px;
    background:  linear-gradient(135deg,#71b7e6,#9b59b6);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
form .button input:hover{
    background:  linear-gradient(135deg,#51f7e6,#9b49b6); ;
}

